<include file="Public/header" title="缓存列表" />
<div id="page-wrapper">

    <div class="row">
        <div class="col-md-6">
            <a href="{:U('Cache/index')}" class="btn btn-success">缓存列表</a>
        </div>
        <div class="col-md-6">
            <form action="{:U('Cache/index')}" method="post">
                <div class="form-group input-group">
                    <!--<input type="text" class="form-control" name="key" placeholder="输入视频标题关键词搜索">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </span>-->
                </div>
            </form>
        </div>
    </div>
	<form action="{:U('Cache/update')}" method="post">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>选择</th>
                <th>缓存名</th>
            </tr>
        </thead>
        <tbody>
        <foreach name="list" item="v">
            <tr>
                <td><input type="checkbox" id="key" value="{$v.val}" name="key[]"></td>
                <td>{$v.name}</td>
            </tr>
        </foreach>

        </tbody>
		 <thead>
			<td><button type="submit" id="submit" class="btn btn-default">提交</button></td>
			<td>&nbsp;</td>
		</thead>
    </table>
	</form>
</div>

<script type="text/javascript">
$(function(){
	var selectRowIndex = Array();

	$("#submit").click( function () {
		var keyValue = "";
		var result ='';
		var j= 0;
		$('input[name="key[]"]:checked').each(function(i){
			selectRowIndex[j] = i+1;
			keyValue += $(this).val()+",";
			j++;
		});
		if (!keyValue) {
			alert('请选择更新项！');
			return false;
		}
		if (window.confirm('确实要更新选择项吗？')) {
			return true;
		}

	});
})

</script>

<include file="Public/footer" />
